body {
	padding-top: 60px;
	padding-bottom: 0;
}

.sidebar-nav {
	padding: 9px 0;
}

.navbar .brand {
	font-family: 'Coustard', serif;
}

.center {
	text-align: center;
}

footer {
	padding-top: 2em;
	background-color: #333;
	color: white;
	padding-bottom: 2em;
}

.highlight pre {
	background-color: #1d1f21;
}