<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>

<body>	
	{% include navigation.html %}
	<div class="container">
		<div class="row">
			<div class="span3">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="docs/">Introduction</a></li>
					<li><a href="docs/api.html">API Docs</a></li>
					<li><a href="docs/Understanding-the-DSL.html">Understanding the DSL</a></li>
					<li><a href="docs/Writing-unit-tests-with-spring.html">Writing Unit Tests with Spring</a></li>
					<li><a href="docs/Examples.html">Examples</a></li>
					<li><a href="docs/Development.html">Development</a></li>
				</ul>	
			</div>			
			<div class="span9">
				<h1>{{ page.title }}</h1>
				{{ content }}
			</div>			
		</div>
	</div>

  {% include bottom.html %}
</body>
</html>
